<section class="authorization-form">
    <div class="container">
        <a class="prev" href="#">
            <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.292892 7.29289C-0.0976315 7.68342 -0.0976315 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM23 7L1 7L1 9L23 9L23 7Z" fill="#515050"/>
            </svg>  
            <span>Назад</span>
        </a>
        <form class="form" action="#">
            <div class="form__inner">
                <h1 class="form__title">Авторизация</h1>
                <div class="form__box">
                    <input class="form__input" type="email" placeholder="Электронная почта">
                    <div class="form__input-box">
                        <input class="form__input" type="password" placeholder="Пароль">
                        <button class="form__hidden-pass"></button>
                    </div>
                </div>
                <div class="form__box">
                    <button class="form__btn">Продолжить</button>
                    <button class="form__btn">Регистрация</button>
                </div>
                <div class="form__box">
                    <span>Авторизоваться через...</span>
                    <button class="form__btn form__btn-google">Войти через Google</button>
                    <button class="form__btn form__btn-vk">Войти через VK</button>
                </div>
            </div>
            <div class="form__help">
                <span>Нужна помощь?</span>
                <svg class="form__help-arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none">
                    <path d="M9.11612 10.8839C9.60427 11.372 10.3957 11.372 10.8839 10.8839L18.8388 2.92893C19.327 2.44078 19.327 1.64932 18.8388 1.16117C18.3507 0.67301 17.5592 0.67301 17.0711 1.16117L10 8.23223L2.92893 1.16117C2.44078 0.67301 1.64932 0.67301 1.16117 1.16117C0.67301 1.64932 0.67301 2.44078 1.16117 2.92893L9.11612 10.8839ZM8.75 9V10H11.25V9H8.75Z" fill="black"/>
                </svg>
            </div>
            <div class="form__help-answ">
                <div class="form__help-answ-title">Задай вопрос нашему агенту тех.поддержки в Telegram</div>
                <p class="form__help-answ-text">
                    Ответы приходят в течении 24 часов с момента подачи вопроса/жалобы
                </p>
                <a class="form__help-answ-link" href="#">Перейти</a>
            </div>
        </form>
    </div>
</section>