<section class="about">
    <div class="container">
        <h2 class="section__title">
            ПОЧЕМУ ИМЕННО <span class="title__decor">МЫ?</span>
        </h2>
        <div class="about__inner">
            <div class="about__item about__item1">
                <h3 class="about__subtitle">Адаптация</h3>
                <p class="about__descr">
                    Смотри или размещай вакансии прямо с телефона или с компьютера.
                </p>
            </div>
            <div class="about__item about__item2">
                <h3 class="about__subtitle">Найдем работу для каждого!</h3>
                <p class="about__descr">
                    У нас огромная база <br>вакансий.
                </p>
            </div>
            <div class="about__item about__item3">
                <h3 class="about__subtitle">Выложи вакансию в два клика</h3>
                <p class="about__descr">
                    Нужно всего лишь пройти регистрацию, оплатить размещение и обьявление уже на сайте!
                </p>
            </div>
        </div>
    </div>
</section>