<section class="top">
    <div class="container-page">
        <div class="top__inner">
            <h1 class="top__title">РАЗМЕСТИ ИЛИ НАЙДИ ВАКАНСИЮ НА WEB3JOBS</h1>
            <p class="top__desc">
                Удобное размещение вакансии, с удобным интерфейсом сайта
                Остался один шаг, выбрать кто ты!
            </p>
            <div class="top__box">
                <button class="top__btn top__btn-seeker">Соискатель</button>
                <button class="top__btn top__btn-employer">Работодатель</button>
            </div>
        </div>
    </div>
</section>