<section class="familiarize">
    <div class="container">
        <h2 class="section__title familiarize__title">Почему стоит ознакомиться с <span>нашим сайтом</span></h2>
        <div class="familiarize__inner">
            <div class="familiarize__item">
                <div class="familiarize__box">
                    <span class="familiarize__numb">84%</span>
                    <img class="familiarize__img" width="155px" height="155px" src="../images/ellipse84.svg" alt="84%">
                </div>
                <div class="row">
                    <h3 class="familiarize__subtitle">Найдется тот самый человек!</h3>
                    <p class="familiarize__text">
                        84% Работодателей находят своего исполнителя благодаря нашему сайту
                    </p>
                </div>
            </div>
            <div class="familiarize__item">
                <div class="familiarize__box">
                    <span class="familiarize__numb">90%</span>
                    <img class="familiarize__img" width="155px" height="155px" src="../images/ellipse90.svg" alt="90%">
                </div>
                <div class="row">
                    <h3 class="familiarize__subtitle">Большой наплыв пользователей!</h3>
                    <p class="familiarize__text">
                        Наплыв траффика по таким запросам как “ Работа в Web3.0”. Благодаря этому ваше объявление получит большие охваты!
                    </p>
                </div>
            </div>
            <div class="familiarize__item">
                <div class="familiarize__box">
                    <span class="familiarize__numb">35%</span>
                    <img class="familiarize__img" width="155px" height="155px" src="../images/ellipse35.svg" alt="35%">
                </div>
                <div class="row">
                    <h3 class="familiarize__subtitle">Дешевое размещение вакансии</h3>
                    <p class="familiarize__text">
                        Стоимость составляет всего 35% от той, что предлагают конкуренты
                    </p>
                </div>
            </div>
            <div class="familiarize__item">
                <div class="familiarize__box">
                    <span class="familiarize__numb">70%</span>
                    <img class="familiarize__img" width="155px" height="155px" src="../images/ellipse70.svg" alt="70%">
                </div>
                <div class="row">
                    <h3 class="familiarize__subtitle">Уникальность нашего продукта</h3>
                    <p class="familiarize__text">
                        Наш сайт превосходит 70% похожих продуктов на рынке, благодаря удобству и уникальности
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>