<section class="user">
  <div class="container">
    <a class="prev" href="#">
      <svg
        width="23"
        height="16"
        viewBox="0 0 23 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.292892 7.29289C-0.0976315 7.68342 -0.0976315 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM23 7L1 7L1 9L23 9L23 7Z"
          fill="#515050"
        />
      </svg>
      <span>Назад</span>
    </a>
    <div class="user__inner">
      <div class="user__img-box">
        <div class="user__cercle1">
          <div class="user__cercle2">
            <img class="user__img" src="../images/company-profile.png" alt="profile" />
          </div>
        </div>
        <span class="user__name">METO</span>
        <a class="user__profile-link" href="#">Перейти в профиль</a>
      </div>
      <div class="user__info">
        <div class="user__top">
          <h1 class="company__title user__title">Графический дизайнер</h1>
          <div class="user__top-icon">
            <svg
              width="36"
              height="36"
              viewBox="0 0 36 36"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M32.6047 9.61445V6.26055H29.5145V2.91016H22.448V6.26055H19.3578V9.61445H16.598V6.26055H13.5043V2.91016H6.44141V6.26055H3.35117V9.61445H0.587891V16.3152H3.35117V19.6691H5.99844V23.0195H8.64922V26.3699H11.7395V29.7238H15.2727V33.0742H20.6832V29.7238H24.2129V26.3699H27.3066V23.0195H29.9574V19.6691H32.6047V16.3152H35.3645V9.61445H32.6047Z"
                fill="#C4C4C4"
              />
            </svg>
          </div>
        </div>
        <div class="user__info-box">
          <ul class="user__info-list">
            <li class="user__info-item">
              <div class="user__info-title">Уровень дохода сотрудника</div>
              <div class="user__info-elem">1000$</div>
            </li>
            <li class="user__info-item">
              <div class="user__info-title">Опыт</div>
              <div class="user__info-elem">от 1 года до 3 лет</div>
            </li>
            <li class="user__info-item">
              <div class="user__info-title">Специализация</div>
              <div class="user__info-elem">Дизайн</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="user__descr">
      <p class="user__descr-text">
        Копирайтер-эксперт, лингвист (английский), редактор и переводчик на технологические,
        экономические, финансовые, IT, DeFi, NFT, Fintech, финансы, Metaverse, P2E, M2E, Blockchain
        и иные тематики с 17-летним опытом работы
      </p>
      <ul class="user__descr-list">
        <li class="user__descr-item">
          Пишу статьи, аналитические материалы, посты, пресс-релизы, презентации, Digest, Dev blog,
          и многие другие материалы;
        </li>
        <li class="user__descr-item">
          пишу продающие тексты любого формата и любой сложности на английском языке уровня native;
        </li>
        <li class="user__descr-item">Адаптирую любые тексты под аудитории разных стран;</li>
        <li class="user__descr-item">Перевожу русские тексты на английский;</li>
        <li class="user__descr-item">Редактирую английские тексты;</li>
        <li class="user__descr-item">
          Пишу любого рода материалы - статьи, пресс-релизы, SMM тексты, продающие тексты,
          аналитические статьи, интервью, dеv-blog, верстаю сайты, редактирую и перевожу WP, и
          многое другое.
        </li>
      </ul>

      <p class="user__descr-text">Опыт:</p>
      <ul class="user__descr-list">
        <li class="user__descr-item">
          Официальный редактор и переводчик ООН (United Nations) и ITU (International
          Telecommunications Union);
        </li>
        <li class="user__descr-item">
          Работал глав-редактором и специалистом по коммуникациям в KPMG;
        </li>
        <li class="user__descr-item">
          Работал переводчиком в ABBYY, Awatera, Neotech, Traktat и других бюро;
        </li>
        <li class="user__descr-item">
          Автор материалов для Binance Exchange, ByBit, AAX, НорНикель, BellSoft, Social Links,
          Kaspersky и многих других;
        </li>
        <li class="user__descr-item">
          По второму высшему образованию лингвист English Major из американского университета;
        </li>
        <li class="user__descr-item">
          17 лет опыта работы переводчиком/копирайтером и преподавателем английского
        </li>
        <li class="user__descr-item">Сертифицированный преподаватель IB DP;</li>
        <li class="user__descr-item">5 лет пишу про блокчейн, 8 лет про IT;</li>
        <li class="user__descr-item">Работал глав-редактором во многих международных компаниях;</li>
        <li class="user__descr-item">
          Уровень native, по второму высшему образованию лингвист, выпускник американского
          университета.
        </li>
        <li class="user__descr-item">
          Работал редактором /переводчиком /копирайтером для многих крипто проектов, включая
          Binance, Bybit, AAX, reBaked, Fragma, Mercuryo, Vinci, UpTrend, Magas, Flexe, ChangeNOW,
          HOQU, Ubex, Adhive, Waves, Humans, Cryptics, DeCenter, CityLife, P2L, Xena, Credits,
          CINDX, W12, Roobee, и во многиx других (70+ проектов);
        </li>
        <li class="user__descr-item">
          Перевел, вычитал, написал и дописал многие WP. Также перевел сайты многих проектов. Автор
          сотен статей, пресс-релизов, обзоров, анонсов для разных крипто изданий и журналов,
          включая Investing, Forbes, Cointelegraph и другие;
        </li>
      </ul>
    </div>
  </div>
</section>
