<section class="vacancies">
    <div class="container">
        <h2 class="section__title vacancies__title">Обычные <span>вакансии</span></h2>
        <div class="vacancies__inner">
            <div class="vacancies__item">
                <div class="vacancies__item-offer">
                    <h3 class="vacancies__item-title">Графический дизайнер</h3>
                    <p class="vacancies__item-text">
                        Что мы ожидаем от кандидата:
                        Способность самостоятельно разбираться в проблемах
                        - Находить взвешенные и осознанные решения, и уметь защитить свою позицию
                        - Имеем офис в тайланде, готовы трудоустроить оффиц...
                    </p>
                    <div class="vacancies__item-box">
                        <div class="vacancies__item-price">1000$</div>
                        <div class="vacancies__item-desc">Опыт от 1 года до 3 лет</div>
                        <a class="vacancies__item-link" href="#">Открыть</a>
                    </div>
                </div>
                <div class="vacancies__item-info">
                    <div class="vacancies__item-cercle">
                        <div class="vacancies__item-img-box">
                            <img class="vacancies__item-logo" width="120px" height="120px" src="../images/company-logo.png" alt="Логотип компании">
                        </div>
                    </div>

                    <div class="vacancies__item-name">Meto</div>
                    <div class="vacancies__item-date">Работаем с 2017</div>
                </div>
            </div>

            <div class="vacancies__item">
                <div class="vacancies__item-offer">
                    <h3 class="vacancies__item-title">Графический дизайнер</h3>
                    <p class="vacancies__item-text">
                        Что мы ожидаем от кандидата:
                        Способность самостоятельно разбираться в проблемах
                        - Находить взвешенные и осознанные решения, и уметь защитить свою позицию
                        - Имеем офис в тайланде, готовы трудоустроить оффиц...
                    </p>
                    <div class="vacancies__item-box">
                        <div class="vacancies__item-price">1000$</div>
                        <div class="vacancies__item-desc">Опыт от 1 года до 3 лет</div>
                        <a class="vacancies__item-link" href="#">Открыть</a>
                    </div>
                </div>
                <div class="vacancies__item-info">
                    <div class="vacancies__item-cercle">
                        <div class="vacancies__item-img-box">
                            <img class="vacancies__item-logo" width="120px" height="120px" src="../images/company-logo.png" alt="Логотип компании">
                        </div>
                    </div>

                    <div class="vacancies__item-name">Meto</div>
                    <div class="vacancies__item-date">Работаем с 2017</div>
                </div>
            </div>

            <div class="vacancies__item">
                <div class="vacancies__item-offer">
                    <h3 class="vacancies__item-title">Графический дизайнер</h3>
                    <p class="vacancies__item-text">
                        Что мы ожидаем от кандидата:
                        Способность самостоятельно разбираться в проблемах
                        - Находить взвешенные и осознанные решения, и уметь защитить свою позицию
                        - Имеем офис в тайланде, готовы трудоустроить оффиц...
                    </p>
                    <div class="vacancies__item-box">
                        <div class="vacancies__item-price">1000$</div>
                        <div class="vacancies__item-desc">Опыт от 1 года до 3 лет</div>
                        <a class="vacancies__item-link" href="#">Открыть</a>
                    </div>
                </div>
                <div class="vacancies__item-info">
                    <div class="vacancies__item-cercle">
                        <div class="vacancies__item-img-box">
                            <img class="vacancies__item-logo" width="120px" height="120px" src="../images/company-logo.png" alt="Логотип компании">
                        </div>
                    </div>

                    <div class="vacancies__item-name">Meto</div>
                    <div class="vacancies__item-date">Работаем с 2017</div>
                </div>
            </div>
        </div>
    </div>
</section>