<section class="attention">
    <div class="container-page">
        <h2 class="section__title attention__title">
            Как привлечь внимание к своему <span>объявлению?</span>
        </h2>
        <div class="attention__inner">
            <div class="attention__content">
                <div class="attention__content-item">
                    <span class="attention__content-numb decor-line">01</span>
                    <h3 class="attention__content-title">Оформление</h3>
                    <p class="attention__content-text">Составить грамотное описание, рассказать суть работы и написать какими навыками должен владеть будущий сотрудник.</p>
                </div>
                <div class="attention__content-item">
                    <span class="attention__content-numb decor-line">02</span>
                    <h3 class="attention__content-title">Заполнение контактов</h3>
                    <p class="attention__content-text">Указать контакты, по которым рабтник сможет тебя найти.</p>
                </div>
                <div class="attention__content-item">
                    <span class="attention__content-numb">03</span>
                    <h3 class="attention__content-title">Кандидаты</h3>
                    <p class="attention__content-text">Будьте внимательны при выборе кандидатов.</p>
                </div>
            </div>
            <div class="attention__box-img">
                <img class="attention__img" src="../images/decor/decor-iphone13pro.png" alt="iphone12pro">
                
                <div class="attention__item attention__item1">
                    <span class="attention__item-title">Кандидат</span>
                    <span class="attention__item-text">Добрый день, вакансия актуальна?</span>
                </div>
                <div class="attention__item attention__item2">
                    <span class="attention__item-title">Web3jobs</span>
                    <span class="attention__item-text">Оплата за обьявления списана с вашего счета</span>
                </div>
                <div class="attention__item attention__item3">
                    <span class="attention__item-title">Email</span>
                    <span class="attention__item-text">Поздравляем с успешной регистрацией на web3jobs</span>
                </div>
            </div>
        </div>
    </div>
</section>