<div class="contact-employer">
  <div class="container">
    <h2 class="contact-employer__title">Контакты работодателя</h2>
    <ul class="contact-employer-social-list">
      <li class="contact-employer-social-item">
        <a class="contact-employer-social-link contact-employer-social-telegram" href="#"
          >Telegram</a
        >
      </li>
      <li class="contact-employer-social-item">
        <a class="contact-employer-social-link contact-employer-social-linkedin" href="#"
          >Linkedin</a
        >
      </li>
      <li class="contact-employer-social-item">
        <a class="contact-employer-social-link contact-employer-social-vk" href="#">Vkontakte</a>
      </li>
    </ul>
  </div>
</div>
