<section class="company">
  <div class="container">
    <a class="prev" href="#">
      <svg
        width="23"
        height="16"
        viewBox="0 0 23 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.292892 7.29289C-0.0976315 7.68342 -0.0976315 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM23 7L1 7L1 9L23 9L23 7Z"
          fill="#515050"
        />
      </svg>
      <span>Назад</span>
    </a>
    <div class="company__inner">
      <div class="company__img-box">
        <div class="company__cercle1">
          <div class="company__cercle2">
            <img class="company__img" src="../images/company-profile.png" alt="profile" />
          </div>
        </div>
        <span class="company__name">METO</span>
      </div>
      <div class="company__info">
        <h1 class="company__title">Профиль компании</h1>
        <div class="company__subtitle">METO</div>
        <div class="company__info-box">
          <ul class="company__info-list">
            <li class="company__info-item">
              <div class="company__info-title">Регистрация</div>
              <div class="company__info-elem">27.02.2022</div>
            </li>
            <li class="company__info-item">
              <div class="company__info-title">Всего обьявлений</div>
              <div class="company__info-elem">3</div>
            </li>
            <li class="company__info-item">
              <div class="company__info-title">Всего контактов</div>
              <div class="company__info-elem">4</div>
            </li>
            <li class="company__info-item">
              <div class="company__info-title">Компания работает</div>
              <div class="company__info-elem">с 2017</div>
            </li>
            <li class="company__info-item">
              <div class="company__info-title">Номер профиля</div>
              <div class="company__info-elem">10173</div>
            </li>
          </ul>
        </div>
        <ul class="company__social-list">
          <li class="company__social-item">
            <a class="company__social-link company__social-telegram" href="#">Telegram</a>
          </li>
          <li class="company__social-item">
            <a class="company__social-link company__social-linkedin" href="#">Linkedin</a>
          </li>
          <li class="company__social-item">
            <a class="company__social-link company__social-vk" href="#">Vkontakte</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
