<section class="first-screen fs">
    <div class="container">
        <div class="fs__inner">
            <div class="fs__content">
                <div class="fs__box">
                    <div class="fs__caption">WEB3JOBS</div>
                    <div class="fs__descr">твой помощник в мире крипты</div>
                </div>
                <h1 class="fs__title">
                    РАЗМЕСТИ ВАКАНСИЮ И НАЙДИ СВОЕГО <span>БУДУЩЕГО <span>РАБОТНИКА</span></span>
                </h1>
                <div class="fs__box">
                    <button class="fs__btn">Перейти</button>
                    <div class="fs__video">
                        <div class="fs__cercle cercle1">
                            <div class="fs__cercle cercle2">
                                <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 7.54984L0 14.7668V0.333008L10 7.54984Z" fill="white"/>
                                </svg>                                
                            </div>
                        </div>
                        <div class="fs__video-descr">Коротко о нас<span>за 1,20 сек</span></div>
                    </div>
                </div>
            </div>
            <div class="fs__logo">
                <img src="../images/logo-big.svg" alt="Логотип">
            </div>
        </div>
    </div>
</section>