<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="logo__link" href="#">
                <img class="logo__img" src="../images/logo.svg" alt="Логотип">
            </a>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a class="nav__link" href="#">Главная</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Навигация</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Почему именно мы?</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Статьи</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">Контакты</a>
                    </li>
                </ul>
            </nav>
            <button class="burgermenu open-nav-menu">
                <span></span>
            </button>
            <a class="user__link" href="#">
                <img class="user__img" src="../images/users.svg" alt="Вход">
                <span>Войти</span>
            </a>
        </div>
    </div>
</header>