<div class="premium-vacancies">
    <div class="container">
        <div class="premium-vacancies__inner">
            <div class="premium-vacancies__item">
                <h2 class="premium-vacancies__title">
                    Графический дизайнер
                </h2>
                <p class="premium-vacancies__descr">
                    Что мы ожидаем от кандидата:
                    Способность самостоятельно разбираться в проблемах
                    - Находить взвешенные и осознанные решения, и уметь защитить свою позицию
                    - Имеем офис в тайланде, готовы трудоустроить оффиц...
                </p>
                <span class="premium-vacancies__money">1000$</span>
                <span class="premium-vacancies__money">Опыт от 1 года до 3 лет</span>

                <a class="premium-vacancies__open-link" href="#">Открыть</a>
            </div>
        </div>
    </div>
</div>